.App {
  text-align: center;
}

.mainBody {
  padding: 7%;
  margin-bottom: 2%;
  background-color: #e6f2ff;
}

.form {
  width: 100%;
}

.input {
  border: 2px solid red;
  border-radius: 4px;
  width: 70%;
  box-sizing: border-box;
  padding: 9px 20px;
}
